name: Second Flow
on:
  workflow_dispatch
jobs:
  second-job:
    runs-on:
      - ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: display
        run: echo "hello:"
      - name: display logs
        run: git log --pretty=oneline
      - name: zip file
        run: zip -r springboot-hello.zip /home/runner/work/springboot-hello/
      - name: lication of zip
        run: |
            echo "location of zip:"
            find . -type f -name springboot-hello.zip
            pwd
            ls -l /home/runner/work/springboot-hello/
      - name: set up java
        uses: actions/setup-java@v3
        with:
         java-version: 11
         distribution: 'temurin'
      - run: mvn --batch-mode --update-snapshots install
      - name: java version
        run: java -version
      - run: docker build -t test:1   /home/runner/work/springboot-hello/springboot-hello/
      - run: docker images ls
        
        
