name: Second Flow
on:
  workflow_dispatch
jobs:
  second-job:
    runs-on:
      - ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: display
        run: echo "hello:"
      - name: display logs
        run: git log --pretty=oneline
      - name: zip file
        run: zip -r springboot-hello.zip /home/runner/work/springboot-hello/
      - name: lication of zip
        run: |
            echo "location of zip:"
            find . -type f -name springboot-hello.zip
            pwd
            ls -l ./springboot-hello.zip
        
