name: Second Flow
on:
  workflow_dispatch
jobs:
  second-job:
    runs-on:
      - ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: display
        run: echo "hello:"
      - name: display logs
        run: git log --pretty=oneline
        
